.textContainer {
  text-align: center;
  overflow: hidden;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(-100%) translateX(100%);
  transition: transform 0.5s, opacity 0.5s;
}

.moveDown {
  opacity: 1;
  transform: translateY(0) translateX(0);
}
