.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.topContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  border-bottom: 1vw solid black;
  z-index: 1000;
  margin: 1vw;
  top: 0;
  left: 0;
  background-color: inherit;
}

.logo {
  width: 30%;
  height: 100%;
  display: block;
  border-radius: 3vw;
}

.heroSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection h1 {
  font-size: 3.5vh;
  position: relative;
  display: inline-block;
  opacity: 0;
  animation: slideIn 2s ease-out, underlineGrow 2s ease-out 2s forwards;
  height: 15%;
  width: 100%;
  text-align: center;
}

.heroSection h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1vw;
  background-color: solid black;
  transition: all 1s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes underlineGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.imageContainer1 {
  width: 100%;
  height: 50%;
}

.heroImage1 {
  width: 100%;
  height: 100%;
}

.heroSection p {
  width: 100%;
  height: 20%;
  text-align: center;
  margin: auto;
  font-size: 3vh;
  background-color: rgb(155, 248, 140);
}

.buttonContainer {
  width: 100%;
  height: 15%;
  background-color: rgb(155, 248, 140);
}

.shopButton {
  border-radius: 1vw;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 3.5vw;
  margin: auto;
  font-size: 3vh;
  color: white;
  background-color: black;
  font-weight: bold;
  box-shadow: 8px 8px 15px 5px rgba(0, 0, 0, 0.3); /* Stronger shadow */
}

.whyChooseUs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer2 {
  width: 100%;
  height: 50%;
}

.heroImage2 {
  width: 100%;
  height: 100%;
}

.whyChooseUs h2 {
  width: 100%;
  height: 15%;
  font-size: 3.5vh;
  margin: auto;
  text-align: center;
  background-color: rgb(155, 248, 140);
}

.whyChooseUs ul {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  background-color: rgb(155, 248, 140);
}

.whyChooseUs ul li {
  font-size: 2.5vh;
}

.featuredProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.featuredProducts h2 {
  font-size: 3.5vh;
  width: 100%;
  height: 15%;
}

.seperatorLineA {
  height: 1vh;
  width: 100vw;
  border: 1vh solid black;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.productCard {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard img {
  width: 100%;
  height: 100%;
}

.productCard h3 {
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 3.5vh;
}

.productCard p {
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 3vh;
}

.productCard button {
  border-radius: 1vw;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 3.5vw;
  margin: auto;
  font-size: 3vh;
  color: white;
  background-color: black;
  font-weight: bold;
  box-shadow: 8px 8px 15px 5px rgba(0, 0, 0, 0.3); /* Stronger shadow */
}

.seperatorLineB {
  height: 1vh;
  width: 95vw;
  border: 1vh solid black;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.letters {
  height: 50%;
  width: 100%;
}

.testimonials {
  background-color: rgb(155, 248, 140);
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials h2 {
  text-align: center;
  font-size: 3.5vh;
  height: 23%;
  width: 100%;
}

.review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5vw;
  width: 35%;
  height: 38.5%;
}

.review p {
  font-size: 3vh;
  width: 100%;
  height: 100%;
}

.ctaSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ctaSection h2 {
  font-size: 3vh;
  width: 100%;
  height: 15%;
}

@media (prefers-color-scheme: dark) {
  .topContainer {
    border-bottom: solid white;
  }

  .heroSection h1::after {
    background-color: solid white;
  }

  .shopButton {
    color: black;
    background-color: white;
    box-shadow: 8px 8px 15px 5px white;
  }

  .productCard button {
    color: black;
    background-color: white;
    box-shadow: 8px 8px 15px 5px white;
  }

  .seperatorLineA {
    border: solid white;
  }
}
