@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.topContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1vh;
}

.logo {
  width: 5%;
  height: 100%;
  display: block;
  border-radius: 2vh;
}

.fda {
  width: 5%;
  height: 100%;
  margin-left: 2vw;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  margin-top: 20vw;
  border-top: 0.5vh solid black;
}

.pageTitle {
  width: 100%;
  height: 20%;
  font-size: 8vh;
  text-align: center;
  font-weight: bold;
  padding: 7vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title p {
  font-size: 8vh;
  width: 100%;
  height: 30%;
  padding: 5vh;
  text-align: center;
}

.productImage {
  width: 100%;
  height: 50%;
}

.hero h1 {
  font-size: 6vh;
  width: 100%;
  height: 15%;
  padding: 5vh;
  text-align: center;
}

.tagline {
  font-size: 6vh;
  width: 100%;
  height: 15%;
  padding: 5vh;
  text-align: center;
  background-color: #2f7ab6;
  border-top: 0.5vh solid black;
  border-bottom: 0.5vh solid black;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 39%;
  margin-top: -5%;
}

.description h2 {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 7vh;
}

.description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.buyButton {
  border-radius: 2vh;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: black;
  font-weight: bold;
  box-shadow: 2px 2px 5px 1px gray; /* Stronger shadow */
  z-index: 0;
}

.buyButton:hover {
  cursor: pointer;
}

.shippingInfo {
  font-size: 3.9vh;
  text-align: center;
  width: 100%;
  height: 10%;
  padding: 7vh;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.benefitBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon {
  width: 25vh;
  height: 25vh;
  padding: 3vh;
}

.benefitBlock p {
  width: 100%;
  height: 20%;
  font-size: 6vh;
  text-align: center;
  font-weight: bold;
  padding: 6vh;
}

.seperatorLineA {
  height: 0.5vh;
  width: 100vw;
  border-bottom: 0.5vh solid black;
  margin-bottom: 2vw;
}

.testimonials {
  background-color: #2f7ab6;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7vh;
}

.testimonials h2 {
  text-align: center;
  font-size: 6vh;
  height: 23%;
  width: 100%;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 10vh;
  padding-top: 0vh;
}

.review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0vh;
  width: 45vh;
  height: 38.5%;
}

.review p {
  font-size: 3vh;
  width: 100%;
  height: 100%;
}

.letters1 {
    height: 100vh !important;
    width: 100%;
}

.letters2 {
  height: 65vh !important;
  width: 100%;
}

.faq {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7vh;
}

.faq h2 {
  text-align: center;
  font-size: 6vh;
  height: 23%;
  width: 100%;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 10vh;
  padding-top: 0vh;
}

.faq p {
  font-size: 3vh;
  width: 75%;
  height: 38.5%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  padding: 3vh;
  border-top: 0.5vh solid black;
}

.verticalOriA {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 39%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 15%;
}

.verticalOriA p {
  width: 100%;
  height: 25%;
}

.verticalOriB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 61%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 25%;
}

.wheelchairIcon {
  width: 15vh;
  height: 15vh;
}

.horizontalOri {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3vh;
  margin-top: -25%;
  margin-bottom: 25%;
}

.horizontalOri img {
  height: 5vh;
  width: 5vh;
}

@media (prefers-color-scheme: dark) {
  .hero {
    border-top: solid white;
  }

  .tagline {
    border-top: solid white;
    border-bottom: solid white;
  }
  
  .buyButton {
    color: white;
    background-color: black;
    box-shadow: 2px 2px 5px 1px gray;
  }

  .icon {
    filter: invert(1);
  }

  .seperatorLineA {
    border-bottom: solid white;
  }

  .testimonials h2 {
    color: black;
  }

  .review p {
    color: black;
  }

  .footer {
    border-top: solid white;
  }

  .wheelchairIcon {
    filter: invert(1);
  }

  .x {
    filter: invert(1);
  }
}

@media (max-width: 1024px) {
    .topContainer {
        height: 20vw;
    }

    .hero {
        margin-top: 20vw;
    }

    .logo {
        width: 20%;
    }

    .fda {
      width: 20%;
    }

    .letters2 {
      padding-bottom: 5vw !important;
    }

    .faq p {
      width: 95%;
    }
}

@media (min-width: 1025px) {
    .letters1 {
        height: 60vh !important;
        margin-top: -5%;
    }

    .letters2 {
        height: 50vh !important;
    }

    .hero {
        margin-top: 10vh;
    }

    .footer {
      height: 40%;
    }

    .verticalOriA {
      margin-top: 2%;
    }

    .verticalOriB {
      margin-top: 2%;
    }

    .horizontalOri {
      margin-bottom: 2%;
      justify-content: flex-end;
    }
}
