.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.topContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1vh;
}

.logo {
  width: 5%;
  height: 100%;
  display: block;
  border-radius: 2vh;
}

.fda {
  width: 5%;
  height: 100%;
  margin-left: 2vw;
}

.aboutContainer h1 {
  padding: 5vh;
  font-size: 8vh;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  border-top: 0.5vh solid black;
  margin-top: 20vw;
  margin-bottom: -5vh;
}

.aboutContainer h2 {
  padding: 3vh;
  font-size: 7vh;
  width: 100%;
  height: 25%;
  text-align: left;
  font-weight: bold;
}

.aboutRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 100%;
  height: 30%;
}

.aboutVer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 25%;
  height: 100%;
}

.aboutVer img {
  width: 15vh;
  height: 15vh;
}

.p {
  padding: 5vh;
  font-size: 5.5vh;
  width: 100%;
  text-align: left;
}

.secondh2 {
  background-color: rgb(155, 248, 140);
  color: black;
  margin-bottom: -5vh;
  z-index: 1;
}

.letters1 {
  height: calc(65vh - 12vw) !important;
  padding: 3vh !important;
}

.letters2 {
  height: calc(105vh - 25vw) !important;
  padding: 3vh !important;
}

.letters3 {
  height: calc(75vh - 15vw) !important;
  padding: 3vh !important;
}

.thirdp {
  background-color: rgb(155, 248, 140);
  color: black;
}

.lastP {
  width: 75%;
  height: 15%;
  font-size: 6vh;
  padding: 7vh;
  text-align: left;
}

.imageContainer {
  width: 100%;
  height: 50%;
}

.aboutImage {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  padding: 3vh;
  border-top: 0.5vh solid black;
}

.verticalOriA {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 39%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 15%;
}

.verticalOriA p {
  width: 100%;
  height: 25%;
}

.verticalOriB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 61%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 25%;
}

.wheelchairIcon {
  width: 15vh;
  height: 15vh;
}

.horizontalOri {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3vh;
  margin-top: -25%;
  margin-bottom: 25%;
}

.horizontalOri img {
  height: 5vh;
  width: 5vh;
}

@media (prefers-color-scheme: dark) {
  .aboutContainer h1 {
    border-top: solid white;
  }

  .secondh2 {
    color: black;
  }

  .thirdp {
    color: black;
  }

  .footer {
    border-top: solid white;
  }

  .wheelchairIcon {
    filter: invert(1);
  }

  .x {
    filter: invert(1);
  }
}

@media (max-width: 1024px) {
    .topContainer {
        height: 20vw;
    }

    .aboutRow {
      flex-direction: column;
    }

    .logo {
        width: 20%;
    }

    .fda {
      width: 20%;
    }

    .lastP {
      width: 100%;
    }
}

@media (min-width: 1025px) {
    .aboutContainer h1 {
      margin-top: 10vh;
    }

    .footer {
      height: 40%;
    }

    .verticalOriA {
      margin-top: 2%;
    }

    .verticalOriB {
      margin-top: 2%;
    }

    .horizontalOri {
      margin-bottom: 2%;
      justify-content: flex-end;
    }

    .secondh2 {
      margin-bottom: -5vh;
    }

    .letters1 {
      height: 30vh !important;
    }

    .letters2 {
      height: 30vh !important;
    }
    
    .letters3 {
      height: 30vh !important;
    }
}
