.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.topContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}

.logo {
  width: 5%;
  height: 100%;
  display: block;
  border-radius: 2vh;
}

.fda {
  width: 5%;
  height: 100%;
  margin-left: 2vw;
}

.cartContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vw;
  border: 0.1vh solid gray;
}

.cartContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noItemsMsg {
  width: 100%;
  height: 35%;
  padding: 7vh;
  font-size: 6vh;
}

.flowContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 100%;
  height: 10%;
}

.flowContainer2 p {
  text-align: center;
  font-size: 3vh;
}

.flowContainer2 img {
  width: 3vh;
  height: 3vh;
}

.entranceItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  width: 90%;
  height: 100%;
}

.entranceHoriz {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 100%;
  height: 100%;
}

.entranceHoriz img {
  width: 15vh;
  height: 23vh;
}

.entranceVer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 30%;
  height: 39%;
}

.entranceItemBrand {
  font-size: 5vh;
  font-weight: bold;
}

.entranceName {
  font-size: 5vh;
}

.entranceTaglineDesc {
  font-size: 3.9vh;
}

.entranceItemSKU {
  font-size: 3.9vh;
}

.entranceItemSpecs {
  font-size: 3.9vh;
}

.entranceVer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  gap: 3vh;
}

.entranceItemPrice {
  font-size: 5vh;
  font-weight: bold;
}

.entranceHoriz2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 25%;
  border-radius: 25px;
}

.entranceHoriz2 p {
  padding: 3vh;
}

.entranceHoriz2 img {
  padding: 3vh;
  border: none;
}

.entranceTotalPriceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
}

.entrancePriceType {
  width: 65%;
  height: 100%;
  text-align: right;
  font-size: 3.9vh;
  font-weight: bold;
}

.entranceTotalPrice {
  width: 35%;
  height: 100%;
  font-size: 3.9vh;
  font-weight: bold;
}

.continueToInfo {
  border-radius: 2vh;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2f7ab6;
  font-weight: bold;
  width: 100%;
  height: 10%;
  box-shadow: 2px 2px 5px 1px gray; /* Stronger shadow */
  z-index: 0;
}

.continueToInfo:hover {
  cursor: pointer;
}

.infoContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vw;
  border: 0.1vh solid gray;
}

.infoContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactP {
  font-size: 3vh;
  text-align: left;
  width: 100%;
}

.flowContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  width: 100%;
  height: 10%;
}

.flowContainer p {
  text-align: center;
  font-size: 3vh;
}

.flowContainer img {
  width: 3vh;
  height: 3vh;
}

.expressCheckoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vh solid gray;
  position: relative;
  width: 90%;
  height: 15%;
}

.expressTitle {
  top: -10%;
  background-color: white;
  color: gray;
  position: absolute;
}

.expressCheckoutContainer img {
  width: 45%;
  height: 90%;
}

.paypalExPress {
  background-color: #FFB130;
}

.orContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 0.1vh;
  border-top: 0.1vh solid gray;
  position: relative;
}

.orContainer p {
  position: absolute;
  top: -10%;
  background-color: white;
  padding: 3vh;
  color: gray;
}

.customerDetailsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.fullInput {
  border: 0.1vh solid gray;
  width: 90%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.shippingHoriz {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 3.9vh;
}

.shippingHoriz2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 3.9vh;
}

.halfInput {
  border: 0.1vh solid gray;
  width: 45%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.thirdInput {
  border: 0.1vh solid gray;
  width: 30%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.informationButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

.returnContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}

.returnContainer img {
  width: 3.5vh;
  height: 3.5vh;
}

.returnContainer p {
  font-size: 3.5vh;
  text-align: left;
  padding-left: 3vh;
  padding-right: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  height: 100%;
}

.continueToShipping {
  border-radius: 2vh;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2f7ab6;
  font-weight: bold;
  box-shadow: 2px 2px 5px 1px gray; /* Stronger shadow */
  z-index: 0;
}

.continueToShipping:hover {
  cursor: pointer;
}

.shippingContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vw;
  border: 0.1vh solid gray;
}

.shippingContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shippingOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20%;
}

.shippingOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 33%;
  height: 100%;
}

.shippingOptions label {
  font-size: 3.9vh;
  text-align: center;
}

.shippingOptions input {
  border-radius: 100%;
}

.shippingCarriersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  width: 90%;
  height: 75%;
}

.fedexContainer, .upsContainer, .dhlContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border: 0.1vh solid gray;
}

.deliveryTime {
  font-size: 3vh;
  color: gray;
}

.deliveryCost {
  font-size: 3.9vh;
}

.shippingCarriersContainer img {
  height: 100%;
  width: 20%;
}

.estTime {
  width: 100%
  height: 10%;
  font-size: 3vh;
}

.notes {
  border: 0.1vh solid gray;
  width: 100%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.shippingButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

.continueToPayment {
  border-radius: 2vh;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2f7ab6;
  font-weight: bold;
  box-shadow: 2px 2px 5px 1px gray; /* Stronger shadow */
  z-index: 0;
}

.continueToPayment:hover {
  cursor: pointer;
}

.paymentContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vw;
  border: 0.1vh solid gray;
}

.paymentContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.billingP {
  font-size: 3vh;
  text-align: left;
  width: 100%;
}

.bFullInput {
  border: 0.1vh solid gray;
  width: 100%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.paymentHoriz {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 3.9vh;
}

.paymentHoriz input {
  border: 0.1vh solid gray;
  width: 30%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.seperatorLineB {
  height: 0.2vh;
  width: 90%;
  border-bottom: 0.5vh solid black;
  margin-bottom: 2vw;
}

.cardBrands {
  width: 100%;
  height: 3.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.cardBrands img {
  width: 15%;
  height: 100%;
}

.cardInfoContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.cardFullInput {
  border: 0.1vh solid gray;
  width: 100%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.paymentHoriz input {
  border: 0.1vh solid gray;
  width: 50%;
  height: 3.9vh;
  padding: 1.5vh
  font-size: 3.5vh;
}

.paymentButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

.orderButton {
  border-radius: 2vh;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2f7ab6;
  font-weight: bold;
  box-shadow: 2px 2px 5px 1px gray; /* Stronger shadow */
  z-index: 0;
}

.orderButton:hover {
  cursor: pointer;
}

.itemsContainer {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vw;
  border: 0.1vh solid gray;
}

.itemsContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemHoriz {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  width: 100%;
  height: 25%;
}

.itemHoriz img {
  width: 32%;
  height: 50%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 32%;
  height: 50%;
}

.itemName {
  font-size: 3.9vh;
}

.itemInfo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 32%;
  height: 50%;
}

.afterItemQuantity {
  font-size: 3.9vh;
}

.afterItemPrice {
  font-size: 3.9vh;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  width: 100%;
  height: 25%;
}

.seperatorLineA {
  height: 0.2vh;
  width: 100vw;
  border-bottom: 0.5vh solid black;
  margin-bottom: 2vw;
}

.afterSubAndShipCostContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 90%;
  height: 25%;
}

.paymentPriceHoriz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.afterPriceType {
  font-size: 3vh;
  font-weight: bold;
}

.afterSubtotalPrice {
  font-size: 3vh;
  font-weight: bold;
}

.afterShippingPrice {
  font-size: 3vh;
  font-weight: bold;
}

.afterTaxPrice {
  font-size: 3vh;
  font-weight: bold;
}

.afterTypeAndPriceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 90%;
  height: 25%;
}

.afterTotalPrice {
  font-size: 3vh;
  font-weight: bold;
}

.orderConfirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.orderConfirmationContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.orderConfirmedMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.orderConfirmedMsg img {
  width: 15vh;
  height: 15vh;
  padding: 5vh;
}

.orderConfirmedMsg h2 {
  font-size: 7vh;
  text-align: center;
  width: 100%;
}

.orderConfirmedMsg h2 {
  font-size: 5vh;
  text-align: left;
  width: 100%;
}

.orderInvoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.orderHoriz1 {
  background-color: #2f7ab6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 15%;
  width: 100%;
}

.orderHoriz1 .first, .orderHoriz1 .second, .orderHoriz1 .third, .orderHoriz1 .fourth, .orderHoriz1 .fifth, .orderHoriz1 .sixth {
  width: 15%;
  height: 10%;
  font-size: 3.9vh;
  text-align: center;
} 

.orderHoriz1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 15%;
  width: 100%;
}

.orderHoriz .first, .orderHoriz .second, .orderHoriz .third, .orderHoriz .fourth, .orderHoriz .fifth, .orderHoriz .sixth {
  width: 15%;
  height: 10%;
  font-size: 3.9vh;
  text-align: center;
} 

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  padding: 3vh;
  border-top: 0.5vh solid black;
}

.verticalOriA {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 39%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 15%;
}

.verticalOriA p {
  width: 100%;
  height: 25%;
}

.verticalOriB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 61%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 25%;
}

.wheelchairIcon {
  width: 15vh;
  height: 15vh;
}

.horizontalOri {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3vh;
  margin-top: -25%;
  margin-bottom: 25%;
}

.horizontalOri img {
  height: 5vh;
  width: 5vh;
}

@media (prefers-color-scheme: dark) {
  .cartContainer {
    border: solid gray;
  }

  .expressTitle {
    background-color: black;
  }

  .orContainer p {
    background-color: black;
  }
  
  .continueToShipping {
    color: white;
    background-color: black;
    box-shadow: 2px 2px 5px 1px gray;
  }
  
  .footer {
    border-top: solid white;
  }

  .wheelchairIcon {
    filter: invert(1);
  }

  .x {
    filter: invert(1);
  }
}

@media (max-width: 1024px) {
    .topContainer {
        height: 20vw;
    }

    .cartContainer {
      margin-top: 23vw;
    }

    .logo {
        width: 20%;
    }

    .fda {
      width: 20%;
    }
}

@media (min-width: 1025px) {
    .footer {
      height: 40%;
    }

    .cartContainer {
        margin-top: 12vh;
    }

    .verticalOriA {
      margin-top: 2%;
    }

    .verticalOriB {
      margin-top: 2%;
    }

    .horizontalOri {
      margin-bottom: 2%;
      justify-content: flex-end;
    }
}
