.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.topContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 1vh;
}

.logo {
  width: 5%;
  height: 100%;
  display: block;
  border-radius: 2vh;
}

.fda {
  width: 5%;
  height: 100%;
  margin-left: 2vw;
}

.cartContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vw;
  border: 0.1vh solid gray;
}

.cartContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noItemsMsg {
  width: 100%;
  height: 35%;
  padding: 7vh;
  font-size: 6vh;
}

.flowContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 100%;
  height: 10%;
}

.flowContainer2 p {
  text-align: center;
  font-size: 3vh;
}

.flowContainer2 img {
  width: 3vh;
  height: 3vh;
}

.entranceItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  width: 90%;
  height: 100%;
}

.entranceHoriz {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 100%;
  height: 100%;
}

.entranceHoriz img {
  width: 15vh;
  height: 23vh;
}

.entranceVer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 30%;
  height: 39%;
}

.entranceItemBrand {
  font-size: 5vh;
  font-weight: bold;
}

.entranceName {
  font-size: 5vh;
}

.entranceTaglineDesc {
  font-size: 3.9vh;
}

.entranceItemSKU {
  font-size: 3.9vh;
}

.entranceItemSpecs {
  font-size: 3.9vh;
}

.entranceVer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  gap: 3vh;
}

.entranceItemPrice {
  font-size: 5vh;
  font-weight: bold;
}

.entranceHoriz2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 25%;
  border-radius: 25px;
}

.entranceHoriz2 p {
  padding: 3vh;
}

.entranceHoriz2 img {
  padding: 3vh;
  border: none;
}

.entranceTotalPriceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
}

.entrancePriceType {
  width: 65%;
  height: 100%;
  text-align: right;
  font-size: 3.9vh;
  font-weight: bold;
}

.entranceTotalPrice {
  width: 35%;
  height: 100%;
  font-size: 3.9vh;
  font-weight: bold;
}

.continueToInfo {
  border-radius: 2vh;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2f7ab6;
  font-weight: bold;
  width: 100%;
  height: 10%;
  box-shadow: 2px 2px 5px 1px gray; /* Stronger shadow */
  z-index: 0;
}

.continueToInfo:hover {
  cursor: pointer;
}

.infoContainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vw;
  border: 0.1vh solid gray;
}

.infoContainer2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flowContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  width: 100%;
  height: 10%;
}

.flowContainer p {
  text-align: center;
  font-size: 3vh;
}

.flowContainer img {
  width: 3vh;
  height: 3vh;
}

.expressCheckoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vh solid gray;
  position: relative;
  width: 90%;
  height: 15%;
}

.expressTitle {
  top: -10%;
  background-color: white;
  color: gray;
  position: absolute;
}

.expressCheckoutContainer img {
  width: 45%;
  height: 90%;
}

.orContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 0.1vh;
  border-top: 0.1vh solid gray;
  position: relative;
}

.orContainer p {
  position: absolute;
  top: -10%;
  background-color: white;
  padding: 3vh;
  color: gray;
}

.customerDetailsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.continueToShipping {
  border-radius: 2vh;
  padding-top: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  margin-bottom: 5vh;
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2f7ab6;
  font-weight: bold;
  box-shadow: 2px 2px 5px 1px gray; /* Stronger shadow */
  z-index: 0;
}

.continueToShipping:hover {
  cursor: pointer;
}

.seperatorLineA {
  height: 0.5vh;
  width: 100vw;
  border-bottom: 0.5vh solid black;
  margin-bottom: 2vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  padding: 3vh;
  border-top: 0.5vh solid black;
}

.verticalOriA {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 39%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 15%;
}

.verticalOriA p {
  width: 100%;
  height: 25%;
}

.verticalOriB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 61%;
  height: 100%;
  padding: 1vh;
  gap: 5vh;
  margin-top: 25%;
}

.wheelchairIcon {
  width: 15vh;
  height: 15vh;
}

.horizontalOri {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3vh;
  margin-top: -25%;
  margin-bottom: 25%;
}

.horizontalOri img {
  height: 5vh;
  width: 5vh;
}

@media (prefers-color-scheme: dark) {
  .cartContainer {
    border: solid gray;
  }

  .expressTitle {
    background-color: black;
  }

  .orContainer p {
    background-color: black;
  }
  
  .continueToShipping {
    color: white;
    background-color: black;
    box-shadow: 2px 2px 5px 1px gray;
  }
  
  .footer {
    border-top: solid white;
  }

  .wheelchairIcon {
    filter: invert(1);
  }

  .x {
    filter: invert(1);
  }
}

@media (max-width: 1024px) {
    .topContainer {
        height: 20vw;
    }

    .cartContainer {
      margin-top: 23vw;
    }

    .logo {
        width: 20%;
    }

    .fda {
      width: 20%;
    }
}

@media (min-width: 1025px) {
    .footer {
      height: 40%;
    }

    .cartContainer {
        margin-top: 12vh;
    }

    .verticalOriA {
      margin-top: 2%;
    }

    .verticalOriB {
      margin-top: 2%;
    }

    .horizontalOri {
      margin-bottom: 2%;
      justify-content: flex-end;
    }
}
